{% macro employee_organisation(user_org) %}
<div class="col-md-2">
    <div class="card add-card p-2" onclick="enterOrganizationEmployee('{{ user_org.id }}')">
        <img src="{{ url_for('static', filename='assets/images/stockBuilding.jpg') }}" class="organisation-card-image">
        <div class="card-body text-center">
            <h5>{{ user_org.organization_name }}</h5>
        </div>
    </div>
</div>
{% endmacro %}


{% macro admin_organisation(user_org) %}
<div class="col-md-2">
    <div class="card add-card p-2" onclick="enterOrganizationAdmin('{{ user_org.id }}')">
        <img src="{{ url_for('static', filename='assets/images/stockBuilding.jpg') }}" class="organisation-card-image">
        <div class="card-body text-center">
            <h5>{{ user_org.organization_name }}</h5>
        </div>
    </div>
</div>
{% endmacro %}
