{% macro createProject_modal(workplace) %}
<div class="modal fade" id="createProjectModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Create Project</h5>
                    <p class="small text-muted">
                        A project helps you organize tasks, manage deadlines, and facilitate collaboration. Within a workplace, projects allow teams to work on specific objectives and track their progress effectively.
                    </p>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-muted small mb-3 fst-italic">Required fields are marked with an asterisk (<span class="text-danger">*</span>).</div>
                <form id="createProjectForm" action="{{ url_for('wrkplace.create_project', workplace_id=workplace.id) }}" method="POST">
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="projectName" name="projectName" required oninput="limitWords(this, 25), checkProjectName()">
                        <small id="project-feedback"></small>
                    </div>
                    <div class="mb-3">
                        <label for="projectDescription" class="form-label">Project Description</label>
                        <textarea class="form-control" id="projectDescription" name="projectDescription" rows="3" placeholder="An optional brief description of the project"  oninput="countWords(this, 120)"></textarea>
                        <small class="text-muted">0/120 words</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="createProjectForm" id="projectSubmit">Create Project</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro addEmployee_modal(workplace, non_employees) %}
<div class="modal fade" id="addEmployeeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">Add Employees</h5>
                    <p class="small text-muted">
                        Add employees in your organisation to this workplace where they can collaborate and work on projects.
                    </p>
                </div>
            </div>
            <div class="modal-body">
                <form id="addEmployeesForm" action="{{ url_for('wrkplace.add_employees', workplace_id=workplace.id) }}" method="POST">
                    <div class="mb-3">
                        <label for="employeeSelect" class="form-label">Select Employees</label>
                        <select id="employeeSelect" class="form-select" multiple="multiple" style="width: 100%;" name="employeeSelect" required >
                            {% for employee in non_employees %}
                            <option value="{{ employee.user_id }}" data-img="{{ employee.user.pfp | b64encode }}">{{ employee.user.first_name }} {{ employee.user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="addEmployeesForm" id="employeeSubmit">Add Employees</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro createLink_modal() %}
<div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkModalLabel">Insert Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="linkUrl" class="form-label">Link URL</label>
                    <input type="url" class="form-control" id="linkUrl" placeholder="https://example.com">
                </div>
                <div class="mb-3">
                    <label for="linkText" class="form-label">Link Text</label>
                    <input type="text" class="form-control" id="linkText" placeholder="Link Text">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="insertLinkButton">Insert Link</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro deleteMessage_modal() %}
    <div class="modal fade" id="deleteMessageModal" tabindex="-1" aria-labelledby="deleteMessageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteMessageModalLabel">Delete Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this message?</p>
                    <div id="messageToDeleteContainer"></div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton" data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}



{% macro editMessage_modal() %}
<div class="modal fade" id="editMessageModal" tabindex="-1" aria-labelledby="editMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMessageModalLabel">Edit Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="message-container rounded-4 border">
                    <div class="mb-3">
                        <div id="editToolbar">
                            <span class="ql-formats">
                                <button class="ql-bold" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Bold</b> <br> Ctrl + B"></button>
                                <button class="ql-italic" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Italic</b> <br> Ctrl + I"></button>
                                <button class="ql-strike" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Strikethrough</b>"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link" id="editCustomLinkButton" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Link</b>"></button>
                                <button class="ql-blockquote" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Block Quote</b>"></button>
                                <button class="ql-code-block" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Code Block</b>"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Ordered List</b>"></button>
                                <button class="ql-list" value="bullet" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Bullet List</b>"></button>
                            </span>
                        </div>
                        <div id="editEditor" class="overflow-auto" style="max-height: 40vh;"></div>
                        <textarea id="editHiddenTextarea" name="message" style="display: none;"></textarea>
                    </div>
                    <div class="d-flex justify-content-between p-2" style="height: fit-content;">
                        <div class="dropdown">
                            <button class="btn attachment-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-add-circle-line fs-4"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                        <button id="confirmEditButton" type="button" class="btn btn-success btn-sm">Save Changes <i class="ri-send-plane-2-line"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}



