{% macro channel_messages(messages) %}

{% for message in messages %}
<div class="message">
    <div class="message-header">
        <div class="message-author">
            <img src="data:image/png;base64,{{message.user.pfp | b64encode}}" alt="" width="32" height="32" class="rounded-circle me-2">
            <span class="message-author-name">{{ message.user.username }}</span>
        </div>
        <div class="message-timestamp">
            <span>{{ message.timestamp }}</span>
        </div>
    </div>
    <div class="message-content">
        <p>{{ message.content }}</p>
    </div>
</div>
{% endfor %}

{% endmacro %}