* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* Font Sizes */
    --largest-font: 112px;
    --larger-font: 70px;
    --large-font: 34px;
    --text-large-font: 20px;
    --text-font: 16px;

    /* Font Colours */
    --text-color: #000;
    --hover-color: #003c6d;
    --dark-color: #000;
    --bg-color: #ffff;
    --secondary-color: #1093ff;
    --search-bar-color: #f3f3f3;
    --nav-hover-color: #003c6d;
}

/* Landing Page Styles */

#index-nav {
    transition: 0.5s;
    height: 70px;
    font-family: "Poppins";
    background-color: var(--secondary-color);
}

.main-index {
    background-color: var(--secondary-color);
}

.main-title {
    color: var(--bg-color);
}

.main-index h1 {
    font-weight: 700;
    font-size: var(--larger-font);
}

.rise-in {
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.rise-in-loaded {
    opacity: 1;
    transform: translateY(0);
}

.highlight {
    white-space: nowrap;
}

.highlight .word {
    display: inline-block;
    opacity: 0;
    animation: textShadowHighlight 1s ease forwards;
    color: transparent;
}

.navbar>.container-fluid {
    background-color: var(--secondary-color);
    padding: 20px;
}

.highlight .word:nth-child(1) {
    animation-delay: 0.5s;
}

.highlight .word:nth-child(2) {
    animation-delay: 1.5s;
}

@keyframes textShadowHighlight {
    0% {
        opacity: 0;
        text-shadow: none;
    }

    50% {
        opacity: 1;
        color: var(--secondary-color);
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }

    100% {
        opacity: 1;
        color: var(--bg-color);
    }
}

.gs-button {
    margin-top: 40px;
    width: 15vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: all 0.5s;
}

.gs-button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: var(--bg-color);
}

.pm-title {
    font-size: var(--large-font);
    font-weight: 700;
    color: var(--text-color);
}

.card-body {
    border-radius: 10px;
    transition: all 0.5s;
}

.r-one>div:nth-child(even) .card-body {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.r-one>div:nth-child(odd) .card-body {
    background-color: var(--bg-color);
}

.r-two>div:nth-child(odd) .card-body {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.r-two>div:nth-child(even) .card-body {
    background-color: var(--bg-color);
}

.r-three>div:nth-child(even) .card-body {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.r-three>div:nth-child(odd) .card-body {
    background-color: var(--bg-color);
}


.landing-footer {
    background: var(--secondary-color);
    clip-path: ellipse(65% 75% at center top);
}

.landing-footer h1 {
    color: var(--bg-color);
    transform: translateY(70px);
}

.ft-button {
    margin-top: 40px;
    width: 15vw;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.5s;
}

.ft-button:hover {
    scale: 0.97;
}

#employee-button {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.footer-cr {
    border-top: #d4d2d2 1px solid;
}

/* Landing Page Styles */

/* Login & Register Page Styles */

.form-header {
    cursor: pointer;
}

/* Login & Register Page Styles */