{% from "macros/imports.html" import head_imports %}
{% from "macros/imports.html" import bootstrap_scripts %}
{% from "macros/logo.html" import svg_logo %}
{% from "macros/codeModal.html" import code_modal %}
{% from "macros/sidebar.html" import admin_sidebar %}

<!DOCTYPE html>
<html lang="en">

<head>
    {{ head_imports() }}
    <title>Dashboard</title>
    <style>        
        .card-body h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
yy
        .add-workplace-button {
            transition: all 0.3s;
        }

        .add-workplace-button:hover {
            color: var(--secondary-color);
        }

        .workplace-card {
            transition: all 0.3s;
        }

        .workplace-card:hover {
            scale: 1.03;
        }

        .logo-fill {
            fill: var(--secondary-color);
        }

        #Layer_1 {
            height: 35px;
            width: auto;
            border-radius: 50%;
        }

        .logo-bg{
            fill: var(--bs-body-bg);;
        }
    </style>
</head>

<body>

    {{ admin_sidebar(organization, current_user, svg_logo) }}

    <div id="content">
        {% if workplaces %}
        <h5 class="text-center add-workplace-button" onclick="showModal(workplaceModal), noEmployees()" style="cursor: pointer;">Add Workplace <i class="ri-add-fill"></i></h5>
        {% endif %}

        <div class="row m-5">
            {% for workplace, employee_count in workplaces %}
            <div class="col-md-3 mb-4 m-2">
                <div class="card shadow workplace-card" style="cursor: pointer; width: 18rem;" onclick="window.location.href='/workplace/{{ workplace.id }}';">
                    <div style="position: relative;">   
                        <img src="{{ url_for('static', filename=workplace.workplace_image) }}" class="card-img-top" alt="..." style="width: 100%; height: 10rem;">
                        <div class="card-body text-white" style="position: absolute; bottom: 0; width: 100%;">
                            <h3>{{ workplace.workplace_name }}</h3>
                            <p>Manager: {{ workplace.manager.first_name }} {{ workplace.manager.last_name }}</p>
                        </div>
                    </div>
                    <div class="card-body" style="height: 7rem;">
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer d-flex flex-row gap-3">
                        <p><a href="#" data-bs-toggle="tooltip" data-bs-title="Creation Date" style="text-decoration: none;" class="link-dark"><i class="ri-global-line"></i>: {{ workplace.created_at.strftime('%B %d, %Y') }}</a></p>
                        <p><a href="#" data-bs-toggle="tooltip" data-bs-title="Employees" style="text-decoration: none;" class="link-dark"><i class="ri-team-line"></i>: {{ employee_count }}</a></p>
                    </div>
                </div>                              
            </div>
            {% else %}
        </div>

        <div class="container d-flex justify-content-center align-items-center mx-auto flex-column">
            <i class="ri-add-fill display-1 add-workplace-button" style="cursor: pointer;" onclick="showModal(workplaceModal), noEmployees()"></i>
            <p>No workplaces found. To get started with your organisation create some workplaces.</p>
            {% endfor %}
        </div>

        <!-- Add Workplace Modal -->
        <div class="modal fade" id="workplaceModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title">Add Workplace</h5>
                            <p class="small text-muted">
                                A workplace is a designated environment within the organization where employees are
                                assigned to collaborate on specific tasks and projects. Each workplace can host multiple
                                employees and projects, facilitating teamwork and efficient management.
                            </p>
                        </div>
                    </div>
                    <div class="modal-body">
                        {% if employees %}
                        <form id="addWorkplaceForm" action="{{ url_for('dashboard.add_workplace', organization_id=organization.id) }}" method="POST">
                            <div class="mb-3">
                                <label for="workplaceName" class="form-label">Workplace Name</label>
                                <input type="text" class="form-control" id="workplaceName" name="workplaceName" oninput="checkWorkPlaceName(), limitWords(this, 40)" required>
                                <small id="workplace-feedback"></small>
                            </div>
                            <div class="mb-3">
                                <label for="workplaceManager" class="form-label">Workplace Manager</label>
                                <select class="form-control form-select" id="workplaceManager" name="workplaceManager" required style="cursor: pointer;">  
                                    {% for employee in employees %}
                                    <option value="{{ employee.user_id }}">{{ employee.user.first_name }} {{ employee.user.last_name }}</option>
                                    {% endfor %}
                                </select>                                
                            </div>
                        </form>

                        {% else %}
                        <form id="addWorkplaceForm" action="{{ url_for('dashboard.add_workplace', organization_id=organization.id) }}" method="POST">
                            <div class="mb-3">
                                <label for="workplaceName" class="form-label">Workplace Name</label>
                                <input type="text" class="form-control" id="workplaceName" name="workplaceName" oninput="" required>
                                <small id="workplace-feedback"></small>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex flex-column" id="noEmployeeMessage">
                                    <span>Workplace Manager</span>
                                    <span class="text-muted">No employees found. To add employees give them the <a href="#" data-bs-dismiss="modal" onclick="showModal(codeModal)">join code</a></span>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="workplaceSubmit" form="addWorkplaceForm">Add Workplace</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ code_modal(organization) }}





    
    {{ bootstrap_scripts() }}
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <script>
        function checkWorkPlaceName() {
            const workValue = document.getElementById('workplaceName').value;
            const workInput = document.getElementById('workplaceName');
            const feedback = document.getElementById('workplace-feedback');
            const submitButton = document.getElementById('workplaceSubmit');
            const orgId = "{{ organization.id }}";

            if (workValue.length > 0) {
                fetch(`/check_workplace/${workValue}/${orgId}`)
                    .then(response => response.json())
                    .then(data => {
                        feedback.textContent = data.message;
                        if (data.available) {
                            feedback.style.color = 'green';
                            workInput.classList.add('is-valid');
                            workInput.classList.remove('is-invalid');
                            submitButton.disabled = false;
                        } else {
                            feedback.style.color = 'red';
                            workInput.classList.add('is-invalid');
                            workInput.classList.remove('is-valid');
                            submitButton.disabled = true;
                        }
                    });
            } else {
                workInput.classList.remove('is-valid', 'is-invalid');
                feedback.textContent = '';
            }
        }

        function copyJoinCode() {
            const joinCodeInput = document.getElementById('joinCode');
            const feedback = document.getElementById('code-feedback');
            joinCodeInput.select();
            document.execCommand('copy');
            feedback.textContent = 'Join code copied to clipboard!';
            joinCodeInput.classList.add('is-valid');
            feedback.style.color = 'green';
        }

        function noEmployees() {
            submitButton = document.getElementById('workplaceSubmit');
            noEmployeeMessage = document.getElementById('noEmployeeMessage');
            if (noEmployeeMessage) {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        }

    </script>
</body>

</html>