{% from "macros/imports.html" import head_imports %}
{% from "macros/imports.html" import bootstrap_scripts %}
{% from "macros/logo.html" import svg_logo %}
{% from "macros/codeModal.html" import code_modal %}
{% from "macros/workplaceModals.html" import createProject_modal %}
{% from "macros/workplaceModals.html" import addEmployee_modal %}
{% from "macros/sidebar.html" import workplace_sidebar %}

<!DOCTYPE html>
<html lang="en">

<head>
    {{ head_imports() }}
    <title>{{ workplace.workplace_name }}</title>
    <style>
        #smallSidebar {
            background-color: var(--secondary-color);
        }

        #workplace-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 280px;
            height: 100%;
            padding: 12px;
            transition: width 0.5s ease;
            margin-left: 4.5rem;
            margin-top: 52px;
            overflow: hidden;
        }

        .workplace-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; 
        }

        #workplace-nav .nav-link{
            padding: 8px;
            border-radius: 5px;
        }

        #workplace-nav .nav-link:hover{
            background-color: var(--search-bar-color);

        }

        #smallSidebar a, #smallSidebar ul, #smallSidebar .dropdown{
            opacity: 1; 
            transition: opacity 0.5s ease; 
        }

        #search-navbar{
            margin-left: 4.5rem;
            background-color: var(--secondary-color);
        }

        #workplace-infoBar{
            position: fixed;
            width: 100%;
            margin-left: 352px;
            background-color: var(--bs-body-bg);
            box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.15);
        }

        .logo-fill {
            fill: #ffffff;
        }

        #Layer_1 {
            height: 35px;
            width: auto;
            border-radius: 50%;
        }

        .logo-bg{
            fill: var(--secondary-color);;
        }

        #workplace-search{
            background-color: #0678d5;
            border: none;
        }

        #workplace-collapse::-webkit-scrollbar {
            width: 5px;
        }

        #workplace-collapse::-webkit-scrollbar-track {
            background: none;
        }

        #workplace-collapse::-webkit-scrollbar-thumb {
            background: none;
            transition: all 0.3s;
        }

        #workplace-collapse::-webkit-scrollbar-thumb:hover {
            cursor: pointer;
        }

        #workplace-collapse:hover::-webkit-scrollbar-thumb {
            background: var(--search-bar-color); 
            border-radius: 10px; 
        }

        .workplace-content {
            margin-left: 352px;
            margin-top: 100px;
            padding: 0 20px;
            margin-bottom: 200px;
        }

        .tabActive {
            background-color: var(--search-bar-color);
        }

        .attachment-button {
            padding: 0px;
        }

        .channel-start-message {
            padding: 20px;
            margin-bottom: 10px;
        }

        .message {
            padding: 5px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
        }

        .message:hover {
            background-color: var(--search-bar-color);
        }
        
    </style>
</head>

<body>
    {{ workplace_sidebar(organization, current_user, svg_logo, workplace) }}

    <div id="workplace-nav" class="d-flex flex-column flex-shrink-0 link-dark shadow"  style="font-family: 'Poppins';" >

        <div class="dropdown d-flex flex-row justify-content-lg-between" id="">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" >
                <strong class="fs-4 workplace-name">{{ workplace.workplace_name }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#" onclick="showModal(createProjectModal)">New project...</a></li>
                <li><a class="dropdown-item" href="#">Workplace Settings</a></li>
            </ul>

            <a href="#" class="nav-link link-dark" title="" onclick="showModal(addEmployeeModal)" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Add Employees">
                <i class="ri-user-add-line fs-5"></i>
            </a>
        </div>

        <ul class="list-unstyled fw-normal mt-2">
            <li><a href="#" id="announcement-link" class="nav-link channel-tab tabActive fs-6" data-channel-id="{{ workplace.id }}" data-conversation-type="announcement"><i class="ri-megaphone-line" style="margin-right: 7px;"></i> Announcements</a></li>
        </ul>


        <div id="workplace-collapse" class="overflow-auto mb-4">
           <ul class="list-unstyled mb-0 mt-0 ">
               <li class="mb-1">
                   <div class="d-flex flex-row justify-content-lg-between">
                       <button class="btn align-items-center rounded collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#content-collapse" aria-expanded="false" onclick="collapseArrow()">
                          <i class="ri-arrow-down-s-fill" id="collapse-icon" style="margin-right: 10px;"></i> Projects
                       </button>
                       <a href="#" class="nav-link link-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Filter Projects">
                          <i class="ri-filter-2-line"></i>
                       </a>
                   </div>

                   <div class="collapse show" id="content-collapse">
                       <ul class="list-unstyled fw-normal pb-1 d-sm-flex flex-sm-column gap-1 mt-2" id="workplace-project-tree" style="margin-left: 15px;">
                        {% if projects %}
                        {% for project in projects %}
                        <li class="project-list-item" data-project-id="{{ project.id }}" ><a href="#" class="nav-link channel-tab link-dark" data-channel-id="{{ project.id }}" data-conversation-type="project"><i class="project-icon" style="margin-right: 10px;"></i> {{ project.project_name }}</a></li>
                        {% endfor %}
                        {% else %}
                        <li class="link-dark">
                             No Projects Yet<br><a href="#" onclick="showModal(createProjectModal)" class="link-primary">Click here</a> to get started
                        </li>
                        {% endif %}
                      </ul>
                  </div>
               </li>
           </ul>
        </div>
    </div>

    
    <nav class="navbar" id="workplace-infoBar" >
        <div class="d-flex flex-column" style="margin-left: 20px;">
            <p class="fw-bold" id="channel-title" style="font-size: 18px; margin-bottom: 0px;"></p>
            <ul class="nav nav-underline">
                <li class="nav-item">
                  <a class="nav-link active link-dark" aria-current="page" href="#"><i class="ri-chat-3-fill"></i> Messages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-dark" href="#"><i class="ri-file-3-line "></i> Files</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="workplace-content">

        <div class="d-flex flex-column " id="channel-content"></div>

        <form id="messageForm" action="" method="POST">
            <div class="message-container rounded-4 border">
                <div class="mb-3">
                    <div id="toolbar">
                        <span class="ql-formats">
                            <button class="ql-bold" data-bs-toggle="tooltip"   data-bs-html="true" data-bs-title="<b>Bold</b> <br> Ctrl + B"></button>
                            <button class="ql-italic" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Italic</b> <br> Ctrl + I"></button>
                            <button class="ql-strike" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Strikethrough</b>"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Link</b>"></button>
                            <button class="ql-blockquote" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Block Quote</b>"></button>
                            <button class="ql-code-block" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Code Block</b>"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Ordered List</b>"></button>
                            <button class="ql-list" value="bullet" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Bullet List<b>"></button>
                        </span>

                    </div>
                    <div id="editor" class="overflow-auto" style="max-height: 40vh;"></div>
                    <textarea id="hiddenTextarea" name="message" style="display: none;"></textarea>
                </div>
                <div class="d-flex justify-content-between p-2" style="height: fit-content;">
                    
                    <div class="dropdown">
                        <button class="btn attachment-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-add-circle-line fs-4"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-success btn-sm"><i class="ri-send-plane-2-line"></i></button>
                </div>
            </div>
        </form>

    </div>

    




    
    {{ addEmployee_modal(workplace, non_employees) }}
    {{ createProject_modal(workplace) }}
    {{ code_modal(organization) }}
    {{ bootstrap_scripts() }}
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <script>

        window.onload = function() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark' || savedTheme === 'light') {
                document.documentElement.setAttribute('data-bs-theme', savedTheme);
                switchLinkTheme(savedTheme);
                setActiveButton(savedTheme);
            } else {
                const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
                if (systemPrefersDark) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                    switchLinkTheme('dark');
                } else {
                    document.documentElement.setAttribute('data-bs-theme', 'light');
                    switchLinkTheme('light');
                }
                setActiveButton('auto');
            }
            
            document.querySelectorAll('.project-list-item').forEach(item => {
                const projectId = item.getAttribute('data-project-id');
                checkProjectStatus(projectId, item);
            });
            
          
            document.getElementById('channel-title').innerHTML = document.querySelector('.tabActive').innerHTML;


            
        };

        const quill = new Quill('#editor', {
            modules: {
              toolbar: '#toolbar'
            },
            placeholder: 'Message',
            theme: 'snow',
        });

        let currentConversationId;

 
        document.querySelectorAll('.channel-tab').forEach(tab => {
            const channelTitle = document.getElementById('channel-title');
            tab.addEventListener('click', async (e) => {
                document.querySelector('.tabActive').classList.remove('tabActive');
                tab.classList.add('tabActive');
                channelTitle.innerHTML = tab.innerHTML;
        
                const conversationType = tab.getAttribute('data-conversation-type');
                const channelId = tab.getAttribute('data-channel-id');
                const response = await fetch(`/get_messages_for_channel/${conversationType}/${channelId}`);
                console.log(conversationType, channelId);
                if (response.ok) {
                    const data = await response.json();
                    const messages = data.messages;
                    currentConversationId = data.conversation_id;
                    socket.emit('join', { room: currentConversationId });
      
        
                    // Render messages
                    renderMessages(messages);
        
                    // Scroll to the bottom of the messages
                    window.scrollTo(0, document.body.scrollHeight);
        
                } else {
                    console.error('Error fetching messages:', response.statusText);
                }
            });
        });
        

        const socket = io(); 
        document.getElementById('messageForm').addEventListener('submit', (e) => {
            e.preventDefault();
            const messageContent = document.getElementById('editor').textContent; 
            const messageData = {
                content: messageContent,
                conversation_id: currentConversationId, 
            };

            socket.emit('send_message', messageData); 
            quill.deleteText(0, quill.getLength())
        });

        socket.on('new_message', function(message) {
            if (message.conversation_id === currentConversationId) {
                appendMessage(message);
            }
        });
        

        let isUserAtBottom = true; // Flag to check if the user is at the bottom

        // Function to check if the user is at the bottom of the page
        function checkScrollPosition() {
            const scrollPosition = document.body.scrollHeight - window.innerHeight - window.scrollY;
            const threshold = 100; // Threshold for considering "at bottom"
        
            isUserAtBottom = scrollPosition < threshold;
        }
        
        // Add event listener to track scrolling
        window.addEventListener('scroll', checkScrollPosition);
        

        function renderMessages(messages) {
            const channelContent = document.getElementById('channel-content');
            channelContent.innerHTML = '';

            const startMessage = document.createElement('div');
            const channelName = document.querySelector('.tabActive').innerHTML;
            startMessage.classList.add('channel-start-message');
            startMessage.innerHTML = `<h3>Welcome to the ${channelName} messages!</h3>`;
            channelContent.appendChild(startMessage);
        
            messages.forEach(message => {
                const messageDiv = document.createElement('div');
                messageDiv.classList.add('message');
                const formattedTimestamp = formatMessageTimestamp(message.timestamp);
        
                messageDiv.innerHTML = `
                <img src="data:image/png;base64,${message.user.pfp}" alt="" width="32" height="32" class="rounded-circle me-3 mt-2">
                    <div class="message-text d-flex flex-column">
                        <div class="message-header d-flex flex-row gap-2">
                            <div class="message-author">
                               <span class="message-author-name fw-bold">${message.user.username}</span>
                            </div>
                            <div class="message-timestamp">
                               <span class=' text-muted' style="font-size: 0.75em;">${formattedTimestamp}</span>
                            </div>
                        </div>
                        <div class="message-content">
                            <p>${message.content}</p>
                        </div>
                    </div>
                `;

                channelContent.appendChild(messageDiv);
            });
        
            console.log(messages);
        }


        function appendMessage(message) {
            const channelContent = document.getElementById('channel-content');
            const newMessage = document.createElement('div');
            const formattedTimestamp = formatMessageTimestamp(message.timestamp);
            newMessage.innerHTML = `
                <div class="message">
                    <img src="data:image/png;base64,${message.user.pfp}" alt="" width="32" height="32" class="rounded-circle me-3 mt-2">
                    <div class="message-text d-flex flex-column">
                        <div class="message-header d-flex flex-row gap-2">
                            <div class="message-author">
                               <span class="message-author-name fw-bold">${message.user.username}</span>
                            </div>
                            <div class="message-timestamp">
                               <span class=' text-muted' style="font-size: 0.75em;">${formattedTimestamp}</span>
                            </div>
                        </div>
                        <div class="message-content">
                            <p>${message.content}</p>
                        </div>
                    </div>
                </div>
            `;
            channelContent.appendChild(newMessage);

            if (isUserAtBottom) {
                window.scrollTo(0, document.body.scrollHeight);
            }
        }
        
        
        
        

        $(document).ready(function() {
            $('#employeeSelect').select2({
                dropdownParent: $('#addEmployeeModal'),
                templateResult: function(state) {
                    if (!state.id) {
                        return state.text;
                    }
                    var $state = $(
                        '<span><img src="data:image/png;base64,' + $(state.element).data('img') + '" class="rounded-circle me-2" width="20" height="20"/>' + state.text + '</span>'
                    );
                    return $state;
                }
            });
        });
        

        function collapseArrow() {
            const collapseButton = document.getElementById('content-collapse');
            const collapseIcon = document.getElementById('collapse-icon');

            if (collapseIcon.classList.contains('ri-arrow-right-s-fill')) {
                collapseIcon.classList.remove('ri-arrow-right-s-fill');
                collapseIcon.classList.add('ri-arrow-down-s-fill');
            } else {
                collapseIcon.classList.remove('ri-arrow-down-s-fill');
                collapseIcon.classList.add('ri-arrow-right-s-fill');
            }
        }

        function checkProjectName() {
            const projectValue = document.getElementById('projectName').value;
            const projectInput = document.getElementById('projectName');
            const feedback = document.getElementById('project-feedback');
            const submitButton = document.getElementById('projectSubmit');
            const workId = "{{ workplace.id }}";

            if (projectValue.length > 0) {
                fetch(`/check_project/${projectValue}/${workId}`)
                    .then(response => response.json())
                    .then(data => {
                        feedback.textContent = data.message;
                        console.log(projectValue)
                        if (projectValue.toLowerCase() === 'announcements') {
                            feedback.textContent = 'Project name cannot be "announcements"';
                            feedback.style.color = 'red';
                            projectInput.classList.add('is-invalid');
                            projectInput.classList.remove('is-valid');
                            submitButton.disabled = true;
                        } else if (data.available) {
                            feedback.style.color = 'green';
                            projectInput.classList.add('is-valid');
                            projectInput.classList.remove('is-invalid');
                            submitButton.disabled = false;
                        } else {
                            feedback.style.color = 'red';
                            projectInput.classList.add('is-invalid');
                            projectInput.classList.remove('is-valid');
                            submitButton.disabled = true;
                        }
                        
                    });
            } else {
                projectInput.classList.remove('is-valid', 'is-invalid');
                feedback.textContent = '';
            }
        }

        
        function checkProjectStatus(project_id, item) {
            const project_icon = item.querySelector('.project-icon');
        
            fetch(`/check_status/${project_id}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status) {
                        project_icon.className = data.icon;
                        project_icon.style.color = data.color;
                        project_icon.setAttribute('data-bs-title', `Status: ${data.status}`);
                        new bootstrap.Tooltip(project_icon); 
                    }
                });
        }
        


        

        
    </script>
</body>

</html>