{% from "macros/imports.html" import head_imports %}
{% from "macros/imports.html" import bootstrap_scripts %}
{% from "macros/logo.html" import svg_logo %}
{% from "macros/codeModal.html" import code_modal %}
{% from "macros/sidebar.html" import admin_sidebar %}

<!DOCTYPE html>
<html lang="en">

<head>
    {{ head_imports() }}
    <title>Employee Management</title>
    <style>
        .logo-fill {
            fill: var(--secondary-color);
        }

        #Layer_1 {
            height: 35px;
            width: auto;
            border-radius: 50%;
        }

        .logo-bg{
            fill: var(--bs-body-bg);;
        }
    </style>
</head>

<body>

    {{ admin_sidebar(organization, current_user, svg_logo) }}

    <!-- Page Content -->
    <div id="content">
        <h2>Employee Management - {{ organization.organization_name }}</h2>
        <table class="table table-striped table-hover rounded">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Date of Joining</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td><img src="data:image/png;base64,{{employee.user.pfp | b64encode}}" alt="" width="27" height="27" class="rounded-circle me-2">{{ employee.user.username }}</td>
                    <td>{{ employee.user.first_name }}</td>
                    <td>{{ employee.user.last_name }}</td>
                    <td>{{ employee.position }}</td>
                    <td>${{ employee.salary }}</td>
                    <td>{{ employee.date_of_joining.strftime('%Y-%m-%d') }}</td>
                    <td><a href="#" onclick="showModal(editEmployeeModal)" class="edit-btn" data-pfp="data:image/png;base64,{{employee.user.pfp | b64encode}}" data-username="{{ employee.user.username }}" data-id="{{ employee.id }}" data-firstname="{{ employee.user.first_name }}" data-lastname="{{ employee.user.last_name }}" data-position="{{ employee.position }}" data-salary="{{ employee.salary }}">Edit</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">No employees found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmployeeModalLabel">Edit Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="d-flex flex-column align-items-center gap-2">
                        <img src="" id="pfp" alt="" width="100" height="100" class="rounded-circle me-2">
                        <h3 id="username"></h4>
                    </div>

                    <form id="editEmployeeForm" action="{{ url_for('dashboard.edit_employee', organization_id=organization.id) }}" method="post">
                        <input type="hidden" id="employee_id" name="employee_id" value="">

                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="first_name" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="last_name" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="position" class="form-label">Position</label>
                            <input type="text" class="form-control" id="position" name="position">
                        </div>    

                        <div class="mb-3">
                            <label for="salary" class="form-label">Salary</label>
                            <input type="number" class="form-control" id="salary" name="salary">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveChanges" form="editEmployeeForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {{ code_modal(organization) }}


    {{ bootstrap_scripts() }}
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var editButtons = document.querySelectorAll('.edit-btn');
            
            editButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var employeeId = this.getAttribute('data-id');
                    var firstName = this.getAttribute('data-firstname');
                    var lastName = this.getAttribute('data-lastname');
                    var position = this.getAttribute('data-position');
                    var salary = this.getAttribute('data-salary');
                    var pfp = this.getAttribute('data-pfp');
                    var username = this.getAttribute('data-username');
         

                    document.getElementById('employee_id').value = employeeId;
                    document.getElementById('firstName').value = firstName;
                    document.getElementById('lastName').value = lastName;
                    document.getElementById('pfp').src = pfp;
                    document.getElementById('username').textContent = username;
                    document.getElementById('position').value = position;
                    document.getElementById('salary').value = salary;

                });
            });
        });
        
    </script>
    


</body>

</html>