{% from "macros/imports.html" import head_imports %}
{% from "macros/imports.html" import bootstrap_scripts %}
{% from "macros/logo.html" import svg_logo %}

<!DOCTYPE html>
<html lang="en">

<head>
    {{ head_imports() }}
    <title>Register</title>
    <style>
        .logo-fill{
            fill: var(--secondary-color);
        }

        #Layer_1{
            height: 37px;
            width: auto;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div class="form-header d-flex flex-row justify-content-center mt-4" onclick="redirHome()">
        {{ svg_logo() }}
        <h3 class="text-center fw-bold" style="font-family: Poppins;">Collabospace</h3>
    </div>

    <form class="mt-5" method="POST" action="{{ url_for('authorise.register') }}">
        <!-- Step 1 -->
        <div id="step1" class="step">
            <h1 class="text-center fw-bold">Lets start with your email address</h1>
            <h5 class="text-center mt-4 fw-normal mb-4">We suggest using the email address that you use at work.</h5>
            <div class="form-group d-flex justify-content-center">
                <input type="email" class="form-control w-50" id="email" name="email" placeholder="name@email.com" required>
            </div>
            <p class="text-center mt-2" id="email-feedback"></p>
            <div class="d-flex justify-content-center"> 
                <button class="btn btn-primary mt-3 w-50" id="emailCont-button" onclick="nextStep(1)" disabled type="button">Continue</button>
            </div>
            <div class="d-flex mt-4 align-items-center"> 
                <hr class="my-auto" style="flex: 1 0 40%;"/> 
                <div class="px-4">OR</div>
                <hr class="my-auto" style="flex: 1 0 40%;"/> 
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-light w-50" style="border: 1px solid #ddd" onclick="location.href='/google_auth'"> 
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo" style="width: 20px; height: 20px;">
                    Continue with Google
                </button>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <div class="text-center">Already have an account? <a href="/login">Login</a></div>
            </div>
        </div>

        <!-- Step 2 -->
        <div id="step2" class="step" style="display: none;">
            <h1 class="text-center fw-bold">So who are you?</h1>
            <h5 class="text-center mt-4 fw-normal mb-4">Tell us your name.</h5>
            <div class="form-group d-flex justify-content-center flex-column align-items-center gap-2 mt-4">
                <input type="text" class="form-control w-50" id="first_name" name="first_name"  placeholder="Enter your firstname" required pattern="[A-Za-z\s]*">
                <small id="firstNameFeedback"></small>
                <input type="text" class="form-control w-50" id="last_name" name="last_name" placeholder="Enter your lastname" required pattern="[A-Za-z\s]*">
                <small id="lastNameFeedback"></small>
            </div>
            <div class="form-group d-flex justify-content-center flex-column align-items-center gap-2 mt-3">
                <button class="btn btn-primary w-50" id="continueButton" onclick="nextStep(2)" type="button">Continue</button>
                <button class="btn btn-secondary w-50" onclick="previousStep(2)" type="button">Back</button>
            </div>
        </div>
        

        <!-- Step 3 -->
        <div id="step3" class="step" style="display: none;">
            <h1 class="text-center fw-bold">Lets finish this off</h1>
            <h5 class="text-center mt-4 fw-normal mb-4">Choose your username & password</h5>
            <div class="form-group d-flex justify-content-center flex-column align-items-center gap-2 mt-4">

                <input type="text" class="form-control w-50" id="username" name="username" placeholder="Create username" required>
                <small id="username-feedback"></small>

                <div class="input-group w-50">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Create password" required>
                    <span class="input-group-text">
                        <i class="ri-eye-off-line" id="password-icon" style="cursor: pointer;" onclick="togglePassword('password')"></i>
                    </span>
                </div>

                <div class="input-group w-50">
                    <input type="password" class="form-control w-50" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
                    <span class="input-group-text">
                        <i class="ri-eye-off-line" id="confirm_password-icon" style="cursor: pointer;" onclick="togglePassword('confirm_password')"></i>
                    </span>
                </div>
                <small id="password-feedback"></small>
            </div>
            <div class="form-group d-flex justify-content-center flex-column align-items-center gap-2 mt-3">
                <button class="btn btn-primary w-50" id="submit-button" type="submit">Create Account</button>
                <button class="btn btn-secondary w-50" onclick="previousStep(3)" type="button">Back</button>
            </div>
        </div>
    </form>

    {{ bootstrap_scripts() }}
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script>
        function nextStep(currentStep) {
            document.getElementById('step' + currentStep).style.display = 'none';
            document.getElementById('step' + (currentStep + 1)).style.display = 'block';
        }

        function previousStep(currentStep) {
            document.getElementById('step' + currentStep).style.display = 'none';
            document.getElementById('step' + (currentStep - 1)).style.display = 'block';
        }


        // Username Valisation
        document.getElementById('username').addEventListener('input', function () {
            const username = this.value;
            const feedback = document.getElementById('username-feedback');
            const usernameInput = document.getElementById('username');

            const regExp = /^[a-z0-9]+$/;
            const minLength = 5;
            const maxLength = 20;

            if (username.length > 0) {
                if (username.length < minLength || username.length > maxLength) {
                    feedback.textContent = `Username must be between ${minLength} and ${maxLength} characters long.`;
                    feedback.style.color = 'red';
                    usernameInput.classList.add('is-invalid');
                    usernameInput.classList.remove('is-valid');
                    checkInvalidFields(); 
                    return;
                }

                if (!regExp.test(username)) {
                    feedback.textContent = 'Username can only contain lowercase letters and numbers, no spaces.';
                    feedback.style.color = 'red';
                    usernameInput.classList.add('is-invalid');
                    usernameInput.classList.remove('is-valid');
                    checkInvalidFields(); 
                    return; 
                }

                fetch(`/check_username/${username}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.available) {
                            feedback.textContent = 'Username is available';
                            feedback.style.color = 'green';
                            usernameInput.classList.add('is-valid');
                            usernameInput.classList.remove('is-invalid');
                            checkInvalidFields(); 
                        } else {
                            feedback.textContent = 'Username is taken';
                            feedback.style.color = 'red';
                            usernameInput.classList.add('is-invalid');
                            usernameInput.classList.remove('is-valid');
                            checkInvalidFields(); 
                        }
                    });
            } else {
                feedback.textContent = ''; 
                usernameInput.classList.remove('is-valid', 'is-invalid'); 
                checkInvalidFields(); 
            }
        });

        

        // Password match check
        document.getElementById('confirm_password').addEventListener('input', function () {
            const password = document.getElementById('password').value;
            const confirmPassword = this.value;
            const confirmPasswordInput = document.getElementById('confirm_password');
            const feedback = document.getElementById('password-feedback');

            if (password !== confirmPassword) {
                feedback.textContent = 'Passwords do not match';
                feedback.style.color = 'red';
                confirmPasswordInput.classList.add('is-invalid');
                confirmPasswordInput.classList.remove('is-valid');
                checkInvalidFields(); 
            } else {
                feedback.textContent = '';
                confirmPasswordInput.classList.add('is-valid');
                confirmPasswordInput.classList.remove('is-invalid');
                checkInvalidFields(); 
            }
        });
        
        // Password match check
        document.getElementById('password').addEventListener('input', function () {
            const confirmPassword = document.getElementById('confirm_password').value;
            const password = this.value;
            const confirmPasswordInput = document.getElementById('confirm_password');
            const feedback = document.getElementById('password-feedback');
            if (password !== confirmPassword) {
                feedback.textContent = 'Passwords do not match';
                feedback.style.color = 'red';
                confirmPasswordInput.classList.add('is-invalid');
                confirmPasswordInput.classList.remove('is-valid');
                checkInvalidFields(); 
            } else {
                feedback.textContent = '';
                confirmPasswordInput.classList.add('is-valid');
                confirmPasswordInput.classList.remove('is-invalid');
                checkInvalidFields(); 
            }

        });

        // Password validation
        document.getElementById('password').addEventListener('input', function () {
            const password = this.value;
            const feedback = document.getElementById('password-feedback');
            const passwordInput = document.getElementById('password');

            const noSpace = /^\S+$/;
            const minLength = 8;
            const maxLength = 128;
            
            if (password.length > 0) {
                if (!noSpace.test(password)) {
                feedback.textContent = 'Password cannot contain spaces.';
                feedback.style.color = 'red';
                passwordInput.classList.add('is-invalid');
                passwordInput.classList.remove('is-valid');
                checkInvalidFields(); 
                return;
                }
              } 
              if (password.length < minLength || password.length > maxLength) {
                feedback.textContent = `Password must be between ${minLength} and ${maxLength} characters long.`;
                feedback.style.color = 'red';
                passwordInput.classList.add('is-invalid');
                passwordInput.classList.remove('is-valid');
                checkInvalidFields(); 
                return;
              }
            else {
                feedback.textContent = '';
                passwordInput.classList.remove('is-valid', 'is-invalid');
            }
        });

        // Invalid Field Checker
        function checkInvalidFields() {
            if (document.querySelectorAll('.is-invalid').length > 0) {
                document.getElementById('submit-button').disabled = true;
            } else {
                document.getElementById('submit-button').disabled = false;
            }
        }

        document.querySelectorAll('input').forEach(input => {
            input.addEventListener('input', checkInvalidFields);
        });


        // Email validation
        document.getElementById('email').addEventListener('input', function () {
            const emailInput = document.getElementById('email');
            const feedback = document.getElementById('email-feedback');
            const emailButton = document.getElementById('emailCont-button');

            if (emailInput.validity.valid) {
                emailButton.disabled = false;     
                emailInput.classList.add('is-valid');
                emailInput.classList.remove('is-invalid');  
                feedback.textContent = '';
            } else {
                emailButton.disabled = true;
                feedback.textContent = 'It looks like that isn’t a valid email address.';
                feedback.style.color = 'red';
                emailInput.classList.add('is-invalid');
                emailInput.classList.remove('is-valid');
            }

        });

        // Name validation
        const firstNameInput = document.getElementById('first_name');
        const lastNameInput = document.getElementById('last_name');
        const continueButton = document.getElementById('continueButton');
        const firstNameFeedback = document.getElementById('firstNameFeedback');
        const lastNameFeedback = document.getElementById('lastNameFeedback');

        const checkValidity = () => {
            let isValid = true;

            if (!firstNameInput.validity.valid) {
                firstNameFeedback.textContent = 'Please enter a valid first name';
                firstNameFeedback.style.color = 'red';
                firstNameInput.classList.add('is-invalid');
                firstNameInput.classList.remove('is-valid');
                isValid = false;
            } else {
                firstNameFeedback.textContent = '';
                firstNameInput.classList.add('is-valid');
                firstNameInput.classList.remove('is-invalid');
            }

            if (!lastNameInput.validity.valid) {
                lastNameFeedback.textContent = 'Please enter a valid last name';
                lastNameFeedback.style.color = 'red';
                lastNameInput.classList.add('is-invalid');
                lastNameInput.classList.remove('is-valid');
                isValid = false;
            } else {
                lastNameFeedback.textContent = '';
                lastNameInput.classList.add('is-valid');
                lastNameInput.classList.remove('is-invalid');
            }

            continueButton.disabled = !isValid; 
        };

        firstNameInput.addEventListener('input', checkValidity);
        lastNameInput.addEventListener('input', checkValidity);





    </script>
</body>

</html>